*.pyc

Datasets/EEGImageNet/*.pth
Datasets/bci2017/*.mat
Datasets/BCICIV_2a_mat/*.mat
Datasets/BCICIV_2a_mat/*.gdf
Datasets/bci2017/*
Datasets/bci2019/*
Datasets/Alljoined1/*.fif

.torcheeg/

scripts/best_train_loss.pth
scripts/best_train_loss.pth.bkp
scripts/logs/*/*/best_train_loss.pth

