*.pyc

Datasets/EEGImageNet/*.pth
Datasets/52sub_64ch_2class/*.mat
Datasets/BCICIV_2a_mat/*.mat
Datasets/BCICIV_2a_mat/*.gdf

.torcheeg/

scripts/best_train_loss.pth
scripts/best_train_loss.pth.bkp
scripts/logs/*/*/hparams.yaml
